/* /Components/Board.razor.rz.scp.css */
.board[b-e903nyzljt] {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 2%;
    width: 270px;
    height: 270px;
}

button[b-e903nyzljt] {
    border-radius: 5%;
    margin: 10px;
}

@media (min-width: 576px) {
    .board[b-e903nyzljt] {
        width: 370px;
        height: 370px;
    }
}

@media (min-width: 768px) {
    .board[b-e903nyzljt] {
        width: 470px;
        height: 470px;
    }
}

@media (min-width: 992px) {
    .board[b-e903nyzljt] {
        width: 570px;
        height: 570px;
    }
}

@media (min-width: 1200px) {
    .board[b-e903nyzljt] {
        width: 670px;
        height: 670px;
    }
}
/* /Components/Square.razor.rz.scp.css */
.square[b-qbkfp6utqr] {
    background-color: #fefca6;
    border: 1px solid #b0b0b0;
    text-align: center;
    vertical-align: middle;
    border-radius: 5%;
    cursor: pointer;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 14px;
}

    .square:hover[b-qbkfp6utqr] {
        background-color: #0080af;
    }

.selected[b-qbkfp6utqr] {
    background-color: #00936a;
}

@media (min-width: 576px) {
    .square[b-qbkfp6utqr] {
        width: 70px;
        height: 70px;
        line-height: 70px;
        font-size: 20px;
    }
}

@media (min-width: 768px) {
    .square[b-qbkfp6utqr] {
        width: 90px;
        height: 90px;
        line-height: 90px;
        font-size: 26px;
    }
}

@media (min-width: 992px) {
    .square[b-qbkfp6utqr] {
        width: 110px;
        height: 110px;
        line-height: 110px;
        font-size: 32px;
    }
}

@media (min-width: 1200px) {
    .square[b-qbkfp6utqr] {
        width: 130px;
        height: 130px;
        line-height: 130px;
        font-size: 38px;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
