<div class="@CssClass" @onclick="@ClickHandler">
    <abbr title="@State.Acronym.Description">@State.Acronym.Value</abbr>
</div>

@functions {
    [Parameter]
    public SquareState State { get; set; }
    [Parameter]
    public EventCallback ClickHandler { get; set; }

    string CssClass => State.Selected ? "square selected" : "square";
}
